html
{
    height:100%;
    width: 100%;
    background-color: rgb(15, 140, 172);
}
body
{
    margin:0;
    height:100%;
    width:100%;
}
header
{
    position: fixed;
    width: 100vw;
    height: 8vh;
    bottom: 97vh; 
    animation: slideout 3s;
}

nav
{
    margin: 0;
    padding: 0;
    height: 5vh;
    width: 100vw;
    background-color: rgb(226, 137, 43);
}

div
{
    display: inline-block;
    height: 3vh;
    text-align: center;
    margin: -2px;
    padding: 0;
    vertical-align: top;
}
img
{
    display: inline-block;
    width: 50vw;
}
.menu
{
    display: inline-block;
    margin: 1vw;
    margin-top:1vh;
    margin-bottom: 1vh;
    height: 3vh;
    width: 17vw;
    text-align: center;
}
.left
{
    width:3vh;
    background-image: linear-gradient(45deg, rgba(0,0,0,0) 50%, rgb(226, 137, 43) 50% );
}
.middle
{
    background-color: rgb(226, 137, 43);
    width:10vw;
}
.right
{
    width:3vh;
    background-image: linear-gradient(-45deg, rgba(0,0,0,0) 50%, rgb(226, 137, 43) 50% );
}
p
{
    color:rgb(212, 197, 197);
    vertical-align: top;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
}
.text
{
    display: inline-block;
    width:45vw;
    vertical-align: top;
}
.location
{
    width: 100vw;
    text-align: center;
}
.popup__content
{
    display: none;
}
#tver1, #map_i, #T1, #V1, #volosovo1
{
    color: brown;
}
#map, #map_t
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(53, 46, 46, 0.562);
    height: 100vh;
    width: 100vw;
}
#map_img
{
    height: 80vh;
}
#x
{
    position: fixed;
    top: 50px;
    left: 50px;
    display:none;
}
header:hover
{
    animation: slidein 3s;
    bottom: 92vh;
}
@keyframes slidein 
{
    from
    {
        bottom: 97vh;
    }
    to
    {
        bottom: 92vh;
    }  
}
@keyframes slideout 
{
    from
    {
        bottom: 92vh;
    }
    to
    {
        bottom:97vh;
    }    
}
#x:hover
{
    animation: rotat 4s;
}
@keyframes rotat 
{
    from
    {
        rotate: 0deg;
    }
    to
    {
        rotate: 360deg;
    }  
}